In [1]:
data = [
    {
        "vendor_name": "VTS",
        "record_hash": "b00361a396177a9cb410ff61f20015ad",
        "time": {
            "pickup": "2009-06-14 23:23:00",
            "dropoff": "2009-06-14 23:48:00"
        },
        "coordinates": {
            "start": {"lon": -73.787442, "lat": 40.641525},
            "end": {"lon": -73.980072, "lat": 40.742963}
        },
        "passengers": [
            {"name": "John", "rating": 4.9},
            {"name": "Jack", "rating": 3.9}
        ]
    }
]

In [2]:
import dlt

# Define a dlt pipeline with automatic normalization
pipeline = dlt.pipeline(
    pipeline_name="ny_taxi_data",
    destination="duckdb",
    dataset_name="taxi_rides",
)

# Run the pipeline with raw nested data
info = pipeline.run(data, table_name="rides", write_disposition="replace")

# Print the load summary
print(info)

print(pipeline.last_trace)

Pipeline ny_taxi_data load step completed in 0.15 seconds
1 load package(s) were loaded to destination duckdb and into dataset taxi_rides
The duckdb destination used duckdb:////home/hbg/data-engineering-zoomcamp/workshops/dlt/ny_taxi_data.duckdb location to store data
Load package 1739613756.1137662 is LOADED and contains no failed jobs
Run started at 2025-02-15 10:02:36.047640+00:00 and COMPLETED in 0.49 seconds with 4 steps.
Step extract COMPLETED in 0.05 seconds.

Load package 1739613756.1137662 is EXTRACTED and NOT YET LOADED to the destination and contains no failed jobs

Step normalize COMPLETED in 0.04 seconds.
Normalized data for the following tables:
- rides: 1 row(s)
- rides__passengers: 2 row(s)
- _dlt_pipeline_state: 1 row(s)

Load package 1739613756.1137662 is NORMALIZED and NOT YET LOADED to the destination and contains no failed jobs

Step load COMPLETED in 0.34 seconds.
Pipeline ny_taxi_data load step completed in 0.15 seconds
1 load package(s) were loaded to destination duckdb and into dataset taxi_rides
The duckdb destination used duckdb:////home/hbg/data-engineering-zoomcamp/workshops/dlt/ny_taxi_data.duckdb location to store data
Load package 1739613756.1137662 is LOADED and contains no failed jobs

Step run COMPLETED in 0.49 seconds.
Pipeline ny_taxi_data load step completed in 0.15 seconds
1 load package(s) were loaded to destination duckdb and into dataset taxi_rides
The duckdb destination used duckdb:////home/hbg/data-engineering-zoomcamp/workshops/dlt/ny_taxi_data.duckdb location to store data
Load package 1739613756.1137662 is LOADED and contains no failed jobs

In [3]:
pipeline.dataset(dataset_type="default").rides.df()

,vendor_name,record_hash,time__pickup,time__dropoff,coordinates__start__lon,coordinates__start__lat,coordinates__end__lon,coordinates__end__lat,_dlt_load_id,_dlt_id
0,VTS,b00361a396177a9cb410ff61f20015ad,2009-06-14 23:23:00+00:00,2009-06-14 23:48:00+00:00,-73.787442,40.641525,-73.980072,40.742963,1739613756.1137662,ftST45XTlMltZw

In [4]:
pipeline.dataset(dataset_type="default").rides__passengers.df()

   name  rating  _dlt_parent_id  _dlt_list_idx         _dlt_id
0  John     4.9  ftST45XTlMltZw              0  SHBVvEI4wX79Sw
1  Jack     3.9  ftST45XTlMltZw              1  uWFXIVXTJ/53HQ